<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648413487443-cofgbadhp5vhd3reftd8br1hsifu28et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648413487443-cofgbadhp5vhd3reftd8br1hsifu28et</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648413487443-62s4h3sav93te5shqef2huo3hn5qsl18.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlfqmzQbDYnedgpZGpzbHLeNbvMeEa3Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>648413487443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttergods.eyehelper</string>
	<key>PROJECT_ID</key>
	<string>eye-helper-4ee78</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-helper-4ee78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648413487443:ios:7b29ace461b897160181a6</string>
	<key>DATABASE_URL</key>
	<string>https://eye-helper-4ee78.firebaseio.com</string>
</dict>
</plist>